// Fonts
@font-face {
    font-family: "Tektur", sans-serif;
    src: url('../assets/fonts/Tektur/Tektur-Regular.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 400;
}

@font-face {
    font-family: "Tektur", sans-serif;
    src: url('../assets/fonts/Tektur/Tektur-Medium.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 500;
}

@font-face {
    font-family: "Tektur", sans-serif;
    src: url('../assets/fonts/Tektur/Tektur-SemiBold.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 600;
}

@font-face {
    font-family: "Tektur", sans-serif;
    src: url('../assets/fonts/Tektur/Tektur-Bold.ttf') format('truetype');
    font-optical-sizing: auto;
    font-weight: 700;
}