@import './variables.scss';
@import './fonts.scss';

// Global
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Tektur", sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style-type: none;
}

// Flex position
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-center-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-justify-center {
    display: flex;
    justify-content: center;
}

.flex-align-center {
    display: flex;
    align-items: center;
}

// Font weight
.font-regular {
    font-weight: 400;
}

.font-medium {
    font-weight: 500;
}

.font-semibold {
    font-weight: 600;
}

.font-bold {
    font-weight: 700;
}

// Font style
.font-normal {
    text-decoration: none;
}

.font-underline {
    text-decoration: underline;
}

.font-strikethrough {
    text-decoration: line-through;
}